<div class="p-4 container items-center pt-28 lg:pt-36 h-max mx-auto text-gray-400">
    <h2 class="text-center !text-gray-100 pt-10 pb-10 !font-bold">Welcome to the Recipe Generator</h2>
    <p class="text-center">Add in your ingredients below and choose your time constraint and difficulty to get started!</p>
    @if(part1) {
        <div class="flex flex-row">
            <div class="pt-10 items-center w-1/3">
                <h2 class="text-center text-2xl font-semibold !text-gray-100">Ingredients: </h2>
                <form class="space-y-4">
                    <div class="form-group mt-3">
                        <label class="block text-sm font-medium">Ingredient List</label>
                        <textarea 
                            autosize
                            [(ngModel)]="recipeObj.ingredients"
                            name="email" 
                            class="resize-y min-h-20 rounded-xl p-2 mt-2"
                            placeholder="Enter all the ingredients"
                            style="width: 100%; background-color: #242c40;">
                        </textarea>
                      </div>
                    <div class="form-group mt-3">
                        <label class="ml-2">Time Constraint</label>
                        <select [(ngModel)]="recipeObj.time" name="tone" class="w-full h-10 rounded-xl mt-2 p-2" style="background-color: #242c40;">
                          <option selected disabled>Please choose an option</option>
                          <option>0 - 30 mins</option>
                          <option>30 - 60 mins</option>
                          <option>60 mins+</option>
                        </select>
                    </div>
                    <div class="form-group mt-3">
                        <label class="">Difficulty</label>
                        <select [(ngModel)]="recipeObj.difficulty" name="difficulty" class="w-full h-10 rounded-xl mt-2 p-2" style="background-color: #242c40;">
                          <option selected disabled>Please choose an option</option>
                          <option>Beginner</option>
                          <option>Amateur</option>
                          <option>Master Chef</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary mt-3" (click)="onSubmit()">Submit</button>
           
                </form>
            </div>
            <div class="pt-10 pl-10 w-2/3">
                <h2 class="text-center text-2xl font-semibold !text-gray-100">Recipe: </h2>
                <div class="flex flex-row">
                    <p style="white-space: pre-line; background-color: #242c40;" class="p-10 w-1/2 rounded-lg shadow-md border-2"><b>Ingredients:</b> {{part1}}</p>
                    <p style="white-space: pre-line; background-color: #242c40;" class="p-10 w-1/2 rounded-lg shadow-md border-2"><b>Instructions:</b> {{part2}}</p>
                </div>
            </div>
        </div>
    } @else {
        <div class="container p-4 items-center w-1/2 flex flex-col justify-items-center">
            <form class="space-y-4  w-1/2 items-center">
                <div class="form-group mt-3">
                    <label class="block text-sm font-medium ">Ingredient List</label>
                    <textarea 
                        autosize
                        [(ngModel)]="recipeObj.ingredients"
                        name="email" 
                        class="resize-y min-h-20 rounded-xl p-2 mt-2"
                        placeholder="Enter all the ingredients"
                        style="width: 100%; background-color: #242c40;">
                    </textarea>
                  </div>
                <div class="form-group mt-3">
                    <label class="ml-2">Time Constraint</label>
                    <select [(ngModel)]="recipeObj.time" name="tone" class="w-full h-10 rounded-xl mt-2 p-2" style="background-color: #242c40;">
                      <option value ='' selected disabled>Please choose an option</option>
                      <option>0 - 30 mins</option>
                      <option>30 - 60 mins</option>
                      <option>60 mins+</option>
                    </select>
                </div>
                <div class="form-group mt-3">
                    <label class="">Difficulty</label>
                    <select [(ngModel)]="recipeObj.difficulty" name="difficulty" class="w-full h-10 rounded-xl mt-2 p-2" style="background-color: #242c40;">
                      <option selected disabled value="">Please choose an option</option>
                      <option>Beginner</option>
                      <option>Amateur</option>
                      <option>Master Chef</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary mt-3" (click)="onSubmit()">Submit</button>
            </form>
        </div>
        
    }
    
</div>