<div class="p-4 container items-center pt-28 lg:pt-36 h-max bg-gray-200 flex flex-col w-full">
    <h1 class="text-center">Email Response Generator</h1>
    <p class="text-center">Welcome to my email response generator. </p> 
    <p class="text-center">Copy and Paste an email into the text chat and get started!</p>
    
    <form class="sm:w-90 md:w-110 lg:w-130">
        <div class="form-group mt-3">
          <label for="exampleInputEmail1">Email Content</label>
          <textarea 
            autosize
            [(ngModel)]="emailObj.emailContent" 
            name="email" 
            class="form-control resize-y min-h-60" 
            id="dynamicTextArea" 
            aria-describedby="emailHelp" 
            placeholder="Enter contents of email"
            style="width: 100%;"></textarea>
        </div>
        <div class="form-group mt-3">
          <label for="exampleInputPassword1">Tone</label>
          <select [(ngModel)]="emailObj.tone" name="tone" class="form-control" aria-placeholder="Please choose an option">
            <option selected disabled>Please choose an option</option>
            <option>Professional</option>
            <option>Casual</option>
            <option>Friendly</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary mt-3" (click)="onSubmit()">Submit</button>
        <br>
        @if(response){
          <h3 class="text-center">Response: </h3>
          <p style="white-space: pre-line">{{response}}</p>
        }
        
      </form>
    
  </div>

  