<div class="p-4 items-center flex flex-col !rounded-3xl max-w-4xl mx-auto text-gray-400 my-10">
  <h1 class="text-center !text-gray-100 pt-10 pb-10 !font-bold">Email Response Generator</h1>
    <p class="text-center">Welcome to my email response generator. </p> 
    <p class="text-center">Copy and Paste an email into the text chat and get started!</p>
    
    <form class="sm:w-90 md:w-110 lg:w-130">
        <div class=" mt-3">
          <label class="">Email Content</label>
          <textarea 
            autosize
            [(ngModel)]="emailObj.emailContent" 
            name="email" 
            class="resize-y min-h-32 rounded-xl p-2 mt-2" 
            placeholder="Enter contents of email"
            style="width: 100%; background-color: #242c40;"
          ></textarea>
        </div>
        <div class="mt-3">
          <label class="">Tone</label>
          <br>
          <select [(ngModel)]="emailObj.tone" name="tone" class="w-full h-10 rounded-xl mt-2 p-2" style="background-color: #242c40;">
            <option value="" selected disabled class="text-gray-500">Please choose an option</option>
            <option>Professional</option>
            <option>Casual</option>
            <option>Friendly</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary mt-3" (click)="onSubmit()">Submit</button>
        <br>
        @if(response){
          <h3 class="text-center !text-gray-100 pt-10 pb-10 !font-semibold">Response: </h3>
          <p class="whitespace-pre-line pb-10">{{response}}</p>
        }
        
      </form>
    
  </div>

  