/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@tailwind utilities;

@font-face {
    font-family: "montserrat";
    src: url(./app/assets/fonts/Montserrat-VariableFont_wght.ttf);
}

* {
    font-family: "montserrat";
}